<div class="character-cards">
  <% @characters.each do |character| %>
    <div class="character-card">
      <%= link_to character_path(character.id) do %>
        <img src="<%= character.image %>" alt="<%= character.name %> image">
        <h4><b><%= character.name %></b></h4>
      <% end %>
    </div>
  <% end %>
</div>
