.character-cards {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .character-card {
    border: 8px solid #b3932c;
    margin: 8px;
    border-radius: 16px;
    background-color: #e8e8e8;
    box-shadow: 4px 6px #cecece;
    text-align: center;
    h4 {
      color: black;
      font-family: copperplate;
    }
  }
  .character-card:hover {
    border: 8px solid #9c7f22;
    a {
      text-decoration: none;
    }
  }
}

.char {
  border: 1px solid #9c7f22;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 10px 8px #cecece;
  width: 720px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  .image {
    border: 1px solid #9c7f22;
    border-radius: 8px 0 0 8px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .char-data {
    width: 480px;
    text-align: center;
    font-weight: bold;
    .char-row {
      border: 1px solid #9c7f22;
      padding: 4px;
    }
    .name {
      border-radius: 0 8px 0 0;
    }
    .description {
      border-radius: 0 0 8px 0;
    }
  }
}

.rarity {
  color: #d0d00a;
}
