.invisible {
  display: none;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #9c7f22;
  border-radius: 16px;
  background-color: #cacaca;
  width: 620px;
  margin: 24px auto 0 auto;
  .element-filter {
    display: flex;
    justify-content: center;
    margin-right: 16px;
    .element-tag {
      .element {
        border: 4px solid #634004;
        background-color: #9e8d42;
        border-radius: 50%;
        padding: 8px;
        margin: 8px;
      }
      .selected {
        background-color: #c5ae4d;
      }
      .element:hover {
        cursor: pointer;
        border: 4px solid #947a24;
      }
    }
  }

  .rarity-filter {
    display: flex;
    justify-content: center;
    .rarity-tag {
      border: 4px solid #634004;
      background-color: #9e8d42;
      border-radius: 50%;
      padding: 8px 6px;
      margin: 4px;
      color: #d0d00a;
    }
    .selected-r {
      background-color: #c5ae4d;
    }
    .rarity-tag:hover {
      cursor: pointer;
      border: 4px solid #947a24;
    }
  }
}

