.invisible {
  display: none;
}

.element-filter {
  display: flex;
  justify-content: center;
  border: 8px solid #9c7f22;
  border-radius: 16px;
  width: 480px;
  margin: 24px auto 0 auto;
  background-color: #e8e8e8;
  .element-tag {
    .element {
      border: 4px solid #634004;
      background-color: #9e8d42;
      border-radius: 50%;
      padding: 8px;
      margin: 8px;
    }
    .selected {
      background-color: #c5ae4d;
    }
    .element:hover {
      cursor: pointer;
      border: 4px solid #947a24;
    }
  }
}
